@charset "ISO-8859-1";

.background_image_index_container {
	/* position: fixed;
	top: 0;
    left: 0;
	width: 100%; 
	max-width:100%; 
	z-index: -1; 
	*/
	background-color: transparent;
	/*background-image:  url(https://assets-global.website-files.com/6026a3b1f0c5d55691a55af1/60353c79b3d11877bf7783ab_AdobeStock_137212228-black.jpg);*/
	/*background-image:
		url(https://i.postimg.cc/bwSPjmHF/background-image-5-resized.jpg);*/
	background-image:
		url(https://i.postimg.cc/dQf0zHzg/background-image-6.jpg);
	background-position: 0 0;
	background-size: cover;
	margin-bottom: -1px;
	/*padding-bottom: 200px;*/
	height: 500px;
	padding-top: 50px;
    padding-bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction:column;
}


.highlight-text{
	color: #9ae6b4;
    background-color: rgba(104,211,145,.3);
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom:3px;
}
strong {
    font-weight: 700;
}

.overlay-computer {
  position: relative;
  z-index: 2;
  /*width:30%;
  width: 500px;*/
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
}

.computer-container {
 /* padding-right:395px;*/
  justify-content: center;
}

.textContainer {
  text-align: center;
}

.indexTitle {
	color: var(--blanc);
}

.indexSubtitle {
	color: var(--blanc);
}

.secondSection{
	padding-top:300px;
	z-index: 1;
}



