@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Gabarito&display=swap');

:root {
	--blanc: #ffffff;
	/* couleurs exemple du tp de Mohamed */
	--bleuFonce: #06375A;
	--bleuClair: #1B5680;
	--orange: #F5B37D;
	--rouge: #D52056;
	
	/*Palette BearForce*/
	--violet: #845EC2;
	--turquoise: #00C9A7;
	--veryPalePink: #FBEAFF;
	--dark:#0E0F19;
	--grey: #131B23;
	--lighterGrey: #272727;
	--accentRed: #DB2955;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
    min-height: 100%;
}

.body-platform{
	background-color: #f7f8fc;
	color: var(--dark);
	padding-bottom:5rem;
	
}

.content {
  flex: 1;
  padding: 20px;
    box-sizing: border-box;
    border-radius: 10px; 
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin:20px;
    
}

*{
	font-family: Gabarito, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 


.important {
	font-weight: 800;
}


/* style for carrousel of clients*/
 .product-item .product-item-content {
        border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 2rem 0;
    }

    .product-item .product-image {
        width: 100px;
        height:100px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }

.grow { 
transition: all .2s ease-in-out; 
}

.grow:hover { 
transform: scale(1.02); 
}

.descriptionSpan{
	justify-content:center;
	margin:25px;
}

.titleH1{
	display:flex;
	justify-content:center;
	color:var(--violet);
}

/* overrides Primefaces buttons default style*/
html body .ui-button {
	background-color: var(--turquoise);
	border-color:transparent;
	border-radius:20px;
	margin-left:10px;
	
}

html body .ui-button:hover {
	background-color: var(--violet);
	border-color:transparent;
	border-radius:20px;
	
}

html body .ui-button.ui-button-text-only .ui-button-text {

    color: var(--blanc);
}

html body .ui-selectbooleanbutton.ui-state-active ui-state-focus{
  	border-color:transparent;
    color: var(--blanc);
    background-color: var(--violet);
}

html body .ui-selectbooleanbutton ui-state-hover{
  	border-color:transparent;
    color: var(--blanc);
    background-color: var(--violet);
}

html body .ui-selectbooleanbutton.ui-state-focus.ui-state-hover{
    color: var(--blanc);
    background-color: var(--violet);
    border-color:transparent;
}

html body .ui-selectbooleanbutton.ui-state-active {
	border-color:transparent;
    color: var(--blanc);
    background-color: var(--violet);
}

html body .ui-fileupload .ui-fileupload-buttonbar {
	 background-color: transparent;
	  border-color:transparent;
	
}

html body .ui-fileupload .ui-fileupload-content {
	 border-color:transparent;
	 
}



.gradient {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*PrimeFaces color picker*/
.square .clr-field button, .circle .clr-field button {
    width: 22px;
    height: 22px;
    left: 5px;
    right: auto;
    border-radius: 5px;
}

.square .clr-field input, .circle .clr-field input {
    padding-left: 36px;
}

.circle .clr-field button {
    border-radius: 50%;
}
