@charset "ISO-8859-1";

/*@font-face {
    font-family: 'Gabarito';
    src:
    url('#{resource["fonts/Gabarito-VariableFont_wght.ttf"]}')
    format("truetype")
    }
    */

:root {
	--blanc: #ffffff;
	/* couleurs exemple du tp de Mohamed */
	--bleuFonce: #06375A;
	--bleuClair: #1B5680;
	--orange: #F5B37D;
	--rouge: #D52056;
	
	/*Palette BearForce*/
	--violet: #845EC2;
	--turquoise: #00C9A7;
	--veryPalePink: #FBEAFF;
	--dark:#0E0F19;
	--grey: #131B23;
	--lighterGrey: #272727;
	--accentRed: #DB2955;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
    min-height: 100vh;
}

.content {
  flex: 1;
}

*{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

/*
*{
	font-family: 'Gabarito',
	}
*/
.important {
	font-weight: 800;
}

/* overrides Primefaces default style*/
html body .ui-button {
	background-color: var(--turquoise);
	border-color:transparent;
	border-radius:20px;
	
}

html body .ui-button:hover {
	background-color: var(--violet);
	border-color:transparent;
	border-radius:20px;
	
}

html body .ui-button.ui-button-text-only .ui-button-text {
    padding: 0.5rem;
    color: var(--blanc);
}

html body .ui-selectbooleanbutton.ui-state-active ui-state-focus{
  	border-color:transparent;
    color: var(--blanc);
    background-color: var(--violet);
}

html body .ui-selectbooleanbutton ui-state-hover{
  	border-color:transparent;
    color: var(--blanc);
    background-color: var(--violet);
}

html body .ui-selectbooleanbutton.ui-state-focus.ui-state-hover{
    color: var(--blanc);
    background-color: var(--violet);
    border-color:transparent;
}

html body .ui-selectbooleanbutton.ui-state-active {
	border-color:transparent;
    color: var(--blanc);
    background-color: var(--violet);
}

html body .ui-fileupload .ui-fileupload-buttonbar {
	 background-color: transparent;
	  border-color:transparent;
	
}

html body .ui-fileupload .ui-fileupload-content {
	 border-color:transparent;
	 
}
